@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

input, textarea{
    background-color: bisque;
    width: 300px;
    padding: 5px;
    border: 1px solid bisque;
    border-radius: 5px;
}

button{
    background-color: tan;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid tan;
}

